.thirdContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 800px;
}

.thirdLeftContainer {
  width: 50%;
  height: 100%;
  align-items: end;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.seafoodSoup {
  width: 70%;
  height: auto;
  user-select: none;
}

.seafoodSoupChildText {
  font-family: "Open Sans", sans-serif;
}

.thirdRightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.seafoodSoupParentText {
  width: 300px;
  margin-top: -80px;
}

.seafoodSoupParentText1 {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 510px;
  color: #9d9995;
}

.seafoodSoupParentText2 {
  width: 500px;
  color: #9d9995;
  margin-top: 30px;
}

.seafoodSoupParentText3 {
  margin-top: 20px;
}

.btn1 {
  color: #ffffff;
  border-radius: 25px;
  background-color: #ff9900;
  cursor: pointer;
  padding: 10px 26px;
  font-size: 15px;
  margin-top: 20px;
  display: inline-block;
  user-select: none;
}

.title1 {
  margin-top: -20px;
  font-size: 40px;
}

.time1 {
  color: #9d9693;
  font-family: "Open Sans", sans-serif;
}

.fourdContainer {
  width: 100%;
  height: 800px;
}

.menuTitle {
  width: 400px;
  height: 130px;
  margin-left: 290px;
}

.sushiParent {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}

.foodImage {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.foodImageChild {
  width: 250px;
  max-height: 200px;
}

.foodImageChild:hover {
  transform: scale(1.02);
}

.sushi {
  width: 250px;
  height: 100%;
  border-radius: 8px;
  display: block;
  user-select: none;
  object-fit: cover;
}

.Saumon {
  display: inline-block;
  margin-right: 95px;
}

.dolor {
  font-size: 20px;
  color: #ff8e00;
}

.menuText {
  color: #9d9693;
}

.color {
  color: #ff8e00;
  margin-top: 30px;
  margin-right: 10px;
}

.firthContainer {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.firthChildContainer1 {
  width: 69%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.h4Tag {
  width: 100%;
  height: 30px;
}

.ulTag {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: -40px;
  transition: all 0.38s ease;
}

.a1 {
  color: #9d9693;
  transition: all 0.38s ease;
  cursor: pointer;
}

.a1:hover {
  color: #ff8e00;
  transition: all 0.38s ease;
  transform: translateX(10px);
}

.liContainer2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 30px;
  width: 150px;
  height: 100%;
}
